@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Medium.ttf);
  }

  html {
    font-family:
      Helvetica Neue,
      system-ui,
      sans-serif;
  }
  select {
    appearance: none;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
